// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDzK_Y5IJ3MhufjITDcgdxi0XpyP1Kq_VY",
  authDomain: "bloomknights-2026.firebaseapp.com",
  projectId: "bloomknights-2026",
  storageBucket: "bloomknights-2026.firebasestorage.app",
  messagingSenderId: "918787868098",
  appId: "1:918787868098:web:d3db97cc121f09ec86425b",
  measurementId: "G-PHMQYFJB9P"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);